* {
    box-sizing: border-box;
}
.b {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    margin: 20px;
    width: 600px;
    height: 350px;
}